.fundo {
    background-color:darkslategray;
    color: white;
}

.bg-nav {
    background-color: rgb(5, 54, 54);
}

.bg-hr {
    background-color: white;
}

.table-nav {
    background-color: rgb(0, 0, 0);
}